body {
    background-color: #f2f2f2;
    color: #555;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

h2 {
    padding: 15px;
    margin: 10px;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}
.centered {
    text-align: center;
}
.navbar {
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: #f7f7f7 none repeat scroll 0 0;
    border-color: #dddddd;
    margin-bottom: 10px;
}

.navbar-right > li > a {
    color: #2196f3;
    padding: 16px;
    font-size: 20px;
}

.navbar .navbar-nav > .active > a {
    color: #1565c0;
    background: #efefef none repeat scroll 0 0;
    border-color: #efefef;
    box-shadow: rgba(200, 200, 200, 0.2) 0px 3px 2px -2px;
}

.navbar .navbar-brand {
    color: #ab47bc;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 13px;
}

.navbar .navbar-toggle {
    background-color: #eeeeee;
}

.icon-bar {
    background-color: #888888;
}

#headerwrap {
    background: url("imgs/bgd.jpg")  no-repeat scroll center center / cover ;
    margin-top: -10px;
    min-height: 300px;
    padding-top: 20px;
    width: 100%;
}
#headerwrap h1 {
    color: white;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 70px;
}
#headerwrap h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 70px;
}
#dg {
    background: #e0e0e0 none repeat scroll 0 0;
}
#dg h1, h2, h3, h4 {
    font-weight: 700;
}
#lg {
    background: #ebebeb none repeat scroll 0 0;
}
#lg h1, h2, h3, h4 {
    font-weight: 400;
}

#headerwrap span{
    color: #3498db;
}
.panel-default .panel-heading {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background: #78909c;
}
.panel-default .panel-heading h3{
    color: #fefdff;
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel-default .panel-body img{
    position: relative;
    width: 100%;
}

.panel-default .panel-footer {
    text-align: left;
    font-family: Georgia, Times, 'Times New Roman', serif;
}