body {
    font-size: 20px;
}

.list-wrapper {
    margin-bottom: 60px;
}

.navbar-nav li a{
    height: 75px;
    width: 150px;
    text-align: center;
    padding-top: 25px;
}

.ref-list{
    font-size: 15px;
}
.people-title {
    color: #AAAAAA;
    font-family: Raleway, sans-serif
}

.jumbotron h1{
    font-size: 50px;
}

.media img{
    width: 180px;
}

.col-md-1 {
    font-size: 16px;
}