body {
    font-size: 20px;
}

.list-wrapper {
    margin-bottom: 60px;
}

.navbar-nav li a{
    height: 75px;
    width: 150px;
    text-align: center;
    padding-top: 25px;
}

.people-title {
    color: #AAAAAA;
    font-family: Raleway, sans-serif
}
